
*.tar
checkpoints/out_BiLSTM_0pctAug_NoPunct_CharToken.txt
checkpoints/out_BiLSTM_0pctAug_NoPunct_WordToken.txt
checkpoints/out_CNN_0pctAug_NoPunct_CharToken.txt
checkpoints/out_CNN_0pctAug_NoPunct_WordToken.txt
checkpoints/out_CNN_0pctAug_Punct_WordToken.txt
checkpoints/out_FFN_0pctAug_NoPunct_CharToken.txt
checkpoints/out_FFN_0pctAug_NoPunct_WordToken.txt
checkpoints/out_FFN_0pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_0pctAug_NoPunct_CharToken.txt
checkpoints/out_LSTM_0pctAug_NoPunct_WordToken.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_15pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_20pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_25pctAug_Punct_WordToken.txt
checkpoints/out_BiLSTM_0pctAug_Punct_CharToken.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_0p25LR.txt
checkpoints/out_BiLSTM_20pctAug_Punct_WordToken.txt
checkpoints/out_BiLSTM_15pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_10SS_0p25LR.txt
checkpoints/out_LSTM_10pctAug_Punct_WordToken.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_0p25LR.txt
checkpoints/out_BiLSTM_5pctAug_Punct_WordToken.txt
checkpoints/out_FFN_0pctAug_Punct_CharToken.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_0p5LR.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_5SS.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_10SS.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken.txt
checkpoints/out_BiLSTM_10pctAug_Punct_WordToken.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_1p0LR.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_20SS.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_50SS.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_1p0LR.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_0p5LR.txt
checkpoints/out_LSTM_0pctAug_Punct_CharToken.txt
checkpoints/out_BiLSTM_0pctAug_Punct_WordToken_20SS.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_10SS.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_50SS.txt
checkpoints/out.txt
checkpoints/out_CNN_0pctAug_Punct_CharToken.txt
checkpoints/out.txt
checkpoints/out_LSTM_0pctAug_Punct_WordToken_5SS.txt
checkpoints/out_LSTM_5pctAug_Punct_WordToken.txt
checkpoints/out.txt
checkpoints/out_LSTM_5pctAug_Punct_WordToken_0p25LR.txt
